<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevComponents.DotNetBar2" version="8.7.0.4" targetFramework="net40" />
  <package id="gdal1.6.relaese_net2.0_x86" version="1.6.3.0" targetFramework="net40" />
  <package id="gdal110_release_net2.0_x86" version="1.0.5184.21789" targetFramework="net40" />
  <package id="iTelluro.Explorer.Raster110" version="1.10.6186.33355" targetFramework="net40" />
  <package id="iTelluro.Explorer.Vector110" version="1.10.5806.19922" targetFramework="net40" />
</packages>