<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <!--数据库连接字符串-->
    <add name="ConStr" connectionString="Data Source = 61.178.41.182,14202;Initial Catalog = DB_RainMonitor;User Id = sa;Password = hfll@123456;" />
  </connectionStrings>
  <appSettings>
    <!--流量阈值-->
    <add key="FlowThreshold" value="800"/>
  </appSettings>
</configuration>