<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40" />
  <package id="DevComponents.DotNetBar2" version="8.7.0.4" targetFramework="net40" />
  <package id="gdal110_release_net2.0_x86" version="1.0.5184.21789" targetFramework="net40" />
  <package id="GeoAPI" version="1.6.0" targetFramework="net40" />
  <package id="iTelluro.Controls" version="1.1.0.0" targetFramework="net40" />
  <package id="iTelluro.DataTools.Utility" version="1.0.6449.37223" targetFramework="net40" />
  <package id="iTelluro.Explorer.BarLib" version="5.2.6326.32118" targetFramework="net40" />
  <package id="iTelluro.Explorer.CommonControls" version="2.0.5303.29965" targetFramework="net40" />
  <package id="iTelluro.Explorer.Infrastructure.CrossCutting" version="5.1.5998.25937" targetFramework="net40" />
  <package id="iTelluro.Explorer.PluginEngine" version="5.0.5312.28595" targetFramework="net40" />
  <package id="iTelluro.Explorer.Vector110" version="1.10.5806.19922" targetFramework="net40" />
  <package id="iTelluro.Explorer.VectorLoader" version="2.1.5546.24981" targetFramework="net40" />
  <package id="iTelluro.Explorer.VectorUtility110" version="1.10.5806.19923" targetFramework="net40" />
  <package id="iTelluro.GeometrySymbol" version="1.0.6128.25612" targetFramework="net40" />
  <package id="iTelluro.GlobeDB" version="2.6.5434.26875" targetFramework="net40" />
  <package id="iTelluro.GlobeEngine" version="2.10.2017.071217" targetFramework="net40" />
  <package id="iTelluro.LicProvider" version="2.0.0.0" targetFramework="net40" />
  <package id="iTelluro.MBTiles" version="1.1.5553.30535" targetFramework="net40" />
  <package id="iTelluro.Utility" version="2.3.6310.26015" targetFramework="net40" />
  <package id="Microsoft.Practices.Unity" version="2.1.505.0" targetFramework="net40" />
  <package id="Microsoft.Practices.Unity.Configuration" version="2.1.505.0" targetFramework="net40" />
  <package id="Proj.NET" version="1.2.4636.23342" targetFramework="net40" />
  <package id="SQLite" version="1.0.85.0" targetFramework="net40" />
  <package id="Unity" version="2.1.505.0" targetFramework="net40" />
  <package id="Unity.Interception" version="2.1.505.2" targetFramework="net40" />
  <package id="ZedGraph" version="5.1.5.28844" targetFramework="net40" />
</packages>